@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;900&display=swap);

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8125rem;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.intro {
    font-weight: 900;
}

.twn_img {
  display: block;
  position: relative;
  border-radius: 0.375rem;
  transform: translate(0);
  /* filter: blur(0.625rem);
  background-image: url("https://midaiganes.irw.ee/api/imgs/large/a3dac073.jpg");
  background-size: contain; */
}

.article_img {
  width: 90%;
  height: 90%;
  display: block;
  margin: auto;
  filter: blur(0rem);

}
img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
}

.article_img_background {
  filter: blur(0.625rem);
  background-image: url("https://midaiganes.irw.ee/api/imgs/large/a3dac073.jpg");
  background-size: contain;
  z-index: 2;
}

.article_img :hover {
  transform: scale(1.05); 
  transition: transform .3s;
 }


.image_title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.625rem 1.5rem;
  font-size: 1rem;
  z-index: 6;
  background: rgba(0,0,0,.5);
}

.tag {
    background: var(--twn-secondaryColor);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
}

.arrow {
  height: 15px;
  width: 15px;
  display: inline;
}

.table {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color:transparent;
}

.closed_tab th, td {
  background-color:transparent !important;
  color: aliceblue !important;    
}

thead {
  text-align: left;
}

.open_tab {
  background-color: #fff;
  width:900px;
}

.open_tab td {
  color: black !important;
}

.open_tab div {
 display: flex;
  align-content: space-between;}

.tab_text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.tab_text p {
  margin: 0;
}

.tab_text_btn {
    display: inline-block;
    margin: 0 0 16px;
    padding: 0.85em 2.5em;
    transition: background-color .25s ease-out;
    font-family: var(--twn-font);
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #14cc76;
    color: #3a3d57;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-decoration: none;
    border-bottom: 0.25rem solid #37945C;
    text-transform: uppercase;
    font-size: .75rem;
    padding: 0.85em 1.7em;
    width: 150px;
    margin-top: 20px;
}

.tab_text_btn:hover{
  background-color: #44ee9f;
}

.pagination {
  margin: auto;
}

.pagination_item {
  margin: 10px;
  padding: 5px;
}


/* copy-paste from TWN page */
@font-face {
  font-family: BoosterNextFY;
  src: url(/assets/fonts/BoosterNextFY-Bold.woff2) format("woff2"),
    url(/assets/fonts/BoosterNextFY-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: BoosterNextFY;
  src: url(/assets/fonts/BoosterNextFY-Light.woff2) format("woff2"),
    url(/assets/fonts/BoosterNextFY-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: BoosterNextFY;
  src: url(/assets/fonts/BoosterNextFY-Black.woff2) format("woff2"),
    url(/assets/fonts/BoosterNextFY-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: BoosterNextFY;
  src: url(/assets/fonts/BoosterNextFY-Thin.woff2) format("woff2"),
    url(/assets/fonts/BoosterNextFY-Thin.woff) format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: BoosterNextFY;
  src: url(/assets/fonts/BoosterNextFY-Regular.woff2) format("woff2"),
    url(/assets/fonts/BoosterNextFY-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: BoosterNextFY;
  src: url(/assets/fonts/BoosterNextFY-Medium.woff2) format("woff2"),
    url(/assets/fonts/BoosterNextFY-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--twn-font);
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}
h1 {
  font-size: 2.8125rem;
}
h1,
h2 {
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
  margin: 3.75rem 0 0;
}
p {
  margin: 2.5rem 0;
}
p a {
  color: var(--twn-highlightColor);
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
body,
html {
  background: var(--twn-backgroundColor);
  margin: 0;
  color: var(--twn-alternateTextColor);
  font-family: var(--twn-textFont);
}
body {
  font-size: var(--twn-rootFontSize);
}
* {
  box-sizing: border-box;
}

/* .inline,
.page {
  position: relative;
} */

.page {
  background-image: url(/assets/imgs/bg-deco-left.svg),url(/assets/imgs/bg-deco-right.svg);
    background-repeat: no-repeat;
    background-position: 150px bottom, 100% 0;
    background-size: 180px,280px;
    background-attachment: fixed;
    margin-left: 150px;
    padding: 5rem 5rem 5rem 12rem; 
    width: 90%;
    overflow: hidden;
}

@media screen and (max-width: 960px) {
  .page {
    margin: 0;
    padding: 5% 10%; 
    background-position: 0 bottom, 100% 0;
  }
}

@media screen and (max-width: 960px) {
  .sidebar {
  display: none;
  }
}

.sidebar {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 150px;
  padding: 1.6rem;
  height: 100vh;
  z-index: 900;
  overflow: auto;
}

.image {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
  object-position: 25% 25%; 
  flex-shrink: 0;
  flex-grow: 0;
  background: center center no-repeat;
  background-size: cover;
  margin: 0.375rem;
  background-color: #f1f1f1;
}

.article {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 960px) {
  .article {
    width: 100%;
  }
}