.lang {
    height: 30px;
    width: 30px;
    margin: 3px;
    align-self: center;
}

.product-img {
    max-width: 200px;
    max-height: 200px;
}

.lang:hover {
    cursor: pointer;
    opacity: 0.7;
}

.lang:active {
    padding: 1px;
}

.App {
    text-align: center;
}

.map {
    height: 300px;
    margin: 3%;
    border-radius: 10px;
}