.active {
    background-color: rgb(248, 255, 236);
    border: 1px solid green;
}

.inactive {
    background-color: rgb(255, 237, 240);
    border: 1px solid red;

}

td {
    padding: 15px;
}

/* .active, inactive {

} */