.App {
    text-align: center;
    margin: auto;
    max-width: 500px;
    padding: 20px;
}

Button {
    margin: 5px;
}

.choice_container {
    max-width: 500px;
    display: inline-flex;
    
}
 
.choice, .risk {
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 20px;
    display: inline;
    text-align: center;
    font-size: x-large;
}

.risk:hover, .choice:hover, .trump:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.red {
    color: rgb(185, 0, 0);
}

.risk {
    width: 150px;
}

h4 {
    margin: auto;
   
}

.trump {
    visibility: hidden;
    float: left;
}


