.pilt {
  width: 150px;
  max-height: 150px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 0.5;
}

.pilt:active{
  border-radius: 50%;
}

.nupp{
  /* width: 100px; */
  font-weight: bold;
  background-color: gainsboro;
  color: darkblue;
}

.nupp:hover {
  cursor: pointer;
  text-decoration: underline;
  /* border: dotted; */
}

.nupp:active{
  border-radius: 50%;
}

.hele{
  background-color: aliceblue;
  min-height: 100vh;
}

.tume {
  background-color: black;
  color: antiquewhite;
  min-height: 100vh;
}

.kuldne {
  color: goldenrod;
}